<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoBTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1844EA321CE9679B00DE0496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1844EA4B1CE9679C00DE0496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1844EA561CE9679C00DE0496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
